body {
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#fixed-extended-button {
    position: fixed;
    color: white;
    
    font-size: 1.3rem;
    background-color: rgb(0, 153, 0);
    padding: 0.3%;
    margin-top: 0.5%;
    cursor: pointer;
    right: 1%;
    top: 2%;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 4px rgb(30, 117, 30);; 
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
}

#display {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
    background-color: rgb(56, 56, 56);
    font-size: 4rem;
}

#display::selection {
    background-color: rgb(0, 153, 0);
}

#keyboard section {
    display: flex;
    flex-wrap: nowrap;
}

#keyboard section div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    cursor: pointer;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    font-size: 4rem;
}

.number-button {
    background-color: rgb(19, 19, 19);
}

.number-button:hover {
    background-color: rgb(80, 80, 80);
}

#calculateResult-button {
    background-color: rgb(0, 153, 0);
}

.del-button {
    background-color: red;
}